@model Taxver.Models.Conductor

@{
    ViewData["Title"] = "Agregar";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Agregar conductor</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data" asp-controller="Conductores" asp-action="Create">
            <div class="card">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="IdPersonaNavigation.Nombre" class="control-label"></label>
                        <input asp-for="IdPersonaNavigation.Nombre" class="form-control" />
                        <span asp-validation-for="IdPersonaNavigation.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPersonaNavigation.ApellidoPaterno" class="control-label">Apellido Paterno</label>
                        <input asp-for="IdPersonaNavigation.ApellidoPaterno" class="form-control" />
                        <span asp-validation-for="IdPersonaNavigation.ApellidoPaterno" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPersonaNavigation.ApellidoMaterno" class="control-label">Apellido Materno</label>
                        <input asp-for="IdPersonaNavigation.ApellidoMaterno" class="form-control" />
                        <span asp-validation-for="IdPersonaNavigation.ApellidoMaterno" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">Fecha de nacimiento</label>
                        <input  type="text" name="fechaN" class="form-control form-control-lg" id="edad" placeholder="mm/dd/yyyy" aria-describedby="basic-addon1" aria-label="Edad" required>                      
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPersonaNavigation.Telefono" class="control-label"></label>
                        <input asp-for="IdPersonaNavigation.Telefono" class="form-control phone-inputmask" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPersonaNavigation.Email" class="control-label"></label>
                        <input asp-for="IdPersonaNavigation.Email" class="form-control" />
                        <span asp-validation-for="IdPersonaNavigation.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdVehiculo" class="control-label">Unidad Asignada</label>
                        <select asp-for="IdVehiculo" class="form-control" asp-items="ViewBag.IdVehiculo">
                            <option value="1">Sin unidad...</option>
                         </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Foto" class="control-label"></label>
                        <div class="custom-file">
                            <input type="file" name="file" id="validateCustomFile" class="custom-file-input" required>
                            <label class="custom-file-label" for="validatedCustomFile">Seleccionar foto...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>